$main-pink: #fbf1ff;

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url('../fonts/HelveticaNeueCyr-Thin.ttf');
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../fonts/HelveticaNeueCyr-Light.ttf');
}

@font-face {
  font-family: 'HelveticaNeueUltraLight';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.ttf');
}

::selection {
  color: rgb(255, 209, 247);
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(70, 70, 70);
}

::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: rgb(117, 117, 117);

  &:active {
    background-color: rgb(99, 99, 99);
  }
}

* {
  box-sizing: border-box;
}

img {
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  width: 100%;
  font-family: 'HelveticaNeueUltraLight';
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  img {
    width: 160px;
  }

  .links-wrapper {
    position: absolute;
    right: 30px;
    display: flex;
    justify-self: flex-end;
    color: $main-pink;
    font-size: 20px;
    font-family: 'HelveticaNeueLight';
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $main-pink;
      margin: 0 15px 0 15px;
      cursor: pointer;
      transition-property: color !important;
      transition-duration: 0.1s !important;

      &:hover {
        color: #ddc4ff;
      }
    }
  }

  @media only screen and (max-width: 768px) and (min-width: 500px) {
    margin-bottom: 100px;

    img {
      width: 120px;
    }

    .links-wrapper {
      font-size: 22px;
    }
  }

  @media only screen and (max-width: 500px) {
    margin-bottom: 100px;

    img {
      width: 80px;
    }

    .links-wrapper {
      font-size: 16px;

      a {
        margin: 0 5px 0 5px;
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 142px);

  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;

    .text-wrapper {
      .main-text {
        font-size: 70px;
        color: $main-pink;
        font-family: HelveticaNeueThin;
        margin-top: 0;
        text-transform: uppercase;
      }
    }

    .project-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      position: relative;
      margin-bottom: 90px;

      .decorative {
        width: 100px;
        height: 1px;
        border-radius: 5px;
        background-color: $main-pink;
        position: absolute;
      }

      .header {
        color: $main-pink;
        font-size: 24px;
        font-family: HelveticaNeueLight;
        margin-bottom: 5px;
      }

      .tech {
        color: $main-pink;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 5px;
      }

      .date {
        color: $main-pink;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 10px;
      }

      .description {
        color: $main-pink;
        font-size: 20px;
      }

      .buttons {
        display: flex;
        align-items: center;
        padding-top: 10px;

        button {
          margin-top: 0;
        }

        .code {
          color: $main-pink;
          text-decoration: none;
          font-size: 15px;
          font-weight: bold;
          margin-left: 25px;
        }
      }

      button {
        width: 120px;
        height: 35px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: none;
        border: 1px solid $main-pink;
        color: $main-pink;
        background-color: #1a1a1a;
        transition: 0.2s ease-out;
        font-size: 15px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
          background-color: $main-pink;
          color: #1a1a1a;
        }
      }

      .right {
        display: flex;
        align-items: center;

        img {
          height: 100px;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }

  .social-links-wrapper {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 30px;
    left: 25px;

    a {
      opacity: 0.5;
      transition: ease-in-out 0.3s;

      img {
        width: 20px;
        height: auto;
      }

      &:hover {
        opacity: 0.8;
        transition: ease-in-out 0.3s;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .social-links-wrapper {
      flex-direction: row;
      width: 90px;
      height: 30px;
      left: calc(50vw - 45px);
    }
  }
}

.modal {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-out;
  cursor: pointer;

  img {
    height: 70vh;
    width: auto;
    cursor: default;
  }
}
